@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@400;700&family=Press+Start+2P&display=swap");
:root {
  --main_color: #353535;
}

body {
  height: 96vh;
  display:96vh;
  justify-content: center;
  align-items: center;
  font-family: "Mohave", sans-serif;
  margin: 0;
  border: 0;
}

.modal{
 
  width: 400px;
  height: 200px;
  padding: 10px;
  
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #f7e6da;
  color: #5e655a;
  border: 5px solid #5e655a;
  border-radius:10px;
  box-shadow: 0 0 16px black;

  opacity: 0;
  transition: opacity 0.35s;
  z-index:-1;

  position: fixed;
  top:60px;
  left: 50%;
  margin-left: -200px;
  
}

.modal img{
  display:block;
  width: 32px;
  height:auto;
  margin: 0 auto;
}

.modal p{
  color: #73340b;
  font-weight: 600;
}

modal_buttons{
  width:200px;
  height: 30px;
  margin: 0 auto;

  display: flex;
  justify-content: center;

  border: 2px solid #73340b;
}

button{
  background-color: #5e655a;
  color: rgb(221, 207, 182);
  font-size: 0.8em;
  border-radius: 5px;
}

h4 {
  margin: 10px 0 0;
  padding: 0;
  color: var(--main_color);
}

img {
  width: 90px;
}

strong {
  font-weight: bold;
}

.cart {
  text-align: right;
  width: 80px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  height: 350px;
  width: 100%;

  background-image: url("https://media.istockphoto.com/photos/fits-perfect-picture-id938463764");
  background-position-y: 35%;
  background-size: cover;

  filter: contrast(1.4) sepia(0.2);
}

.wrapper .__hero {
  position: relative;
  background: rgba(0, 0, 0, 0.335);
  top: 0;
  height: 350px;
  width: 100%;
  z-index: 2;
}

.wrapper .__hero .intestazione {
  position: absolute;
  padding: 30px;
  height: 100%;
  color: whitesmoke;
  font-size: 1.5rem;
  z-index: 3;
}

.wrapper .__hero .intestazione h2 {
  margin-bottom: 0;
}

.cartBanner {
  display: flex;
  justify-content: flex-end;
  background-color: #73340b; 
}

.show__cart__btn{
  width: 40px;
  height:40px;
  border: 0;
  font-size: 20px;
  background-color: transparent;

  cursor: pointer;
  transition: 0.35s;

  padding: 0px 5px 5px 5px;
  margin: 8px 5px 0px 0px;
}

.show__cart__btn:hover {
  
  transform: scale(1.6);
}

.cartBanner .cartProductsNum {
  margin-right: 20px;
  color:  #20251f;
  font-size: 16px;
  font-weight: 800;

}

.cartBanner .clearCart {
  font-size: 16px;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: 0.35s;
  margin: -2px 5px 0px 15px;
  
}

.cartBanner .clearCart:hover {
  transform: scale(1.6);
}

.cartBanner .cartProductsNum::before {
  margin-right: 10px;
  font-size: 1.5rem;
}

.wrapper__titles {
  display: flex;
  position: relative;
  justify-content: center;
}

.wrapper__titles h2 {
  position: absolute;
  top:0px;
  font-size: 2rem;
}

.wrapper__titles h4 {
  position: absolute;
  top:60px;
  font-size: 0.9rem;
  
}

.search__wrapper{
  position: absolute;
  top: 520px;
  
  margin: 0px 0px 0px 28px;
  align-self: left;
}

.inputFilterSearch,
.labelFilterSearch {
  display: inline;
  width: 150px;
  align-self: left;
}


.showCartBtn {
  display: inline;
  margin: 0px 0;
  padding: 5px 5px;
  width: 100px;
  align-self: left;

  border: 0;
  background-color: #20251f;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.showCartBtn:hover {
  background-color: #20251f;
}

.wrapper__products {
  margin: 150px 20px 0px;
  display: flex;
  flex-wrap: wrap;
  transition: all 1s;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 7.5px;
  padding: 10px;

  width: 150px;

  border: 2px solid rgb(50, 50, 50);

  opacity: 0.78;
  cursor: pointer;
  transition: all 0.35s;
}

.product:hover {
  transform: scale(0.9);
  border: 2px solid var(--main_color);
}

.product:active {
  opacity: 1;
  transform: scale(1);
}

.product p {
  align-self: flex-end;
}

.sideViewAnim {
  opacity: 0;
}
